.logic-btn{
  width: 15%;
    margin: 1%;
    height: min-content;
}
.logic-button{
    width: 100%;
    height: 100%;
}
.forscroll{
  overflow-y: scroll;

  max-height: 100vh;

}
.logic-button-show{
  width: 100%;
  
}